__pycache__*
data/bbdd/bbdd_00000.jpg
data/bbdd/bbdd_00001.jpg
data/bbdd/bbdd_00002.jpg
data/bbdd/bbdd_00003.jpg
data/bbdd/bbdd_00004.jpg
data/bbdd/bbdd_00005.jpg
data/bbdd/bbdd_00006.jpg
data/bbdd/bbdd_00007.jpg
data/bbdd/bbdd_00008.jpg
data/bbdd/bbdd_00009.jpg
data/bbdd/bbdd_00010.jpg
data/bbdd/bbdd_00011.jpg
data/bbdd/bbdd_00012.jpg
data/bbdd/bbdd_00013.jpg
data/bbdd/bbdd_00014.jpg
data/bbdd/bbdd_00015.jpg
data/bbdd/bbdd_00016.jpg
data/bbdd/bbdd_00017.jpg
data/bbdd/bbdd_00018.jpg
data/bbdd/bbdd_00019.jpg
data/bbdd/bbdd_00020.jpg
data/bbdd/bbdd_00021.jpg
data/bbdd/bbdd_00022.jpg
data/bbdd/bbdd_00023.jpg
data/bbdd/bbdd_00024.jpg
data/bbdd/bbdd_00025.jpg
data/bbdd/bbdd_00026.jpg
data/bbdd/bbdd_00027.jpg
data/bbdd/bbdd_00028.jpg
data/bbdd/bbdd_00029.jpg
data/bbdd/bbdd_00030.jpg
data/bbdd/bbdd_00031.jpg
data/bbdd/bbdd_00032.jpg
data/bbdd/bbdd_00033.jpg
data/bbdd/bbdd_00034.jpg
data/bbdd/bbdd_00035.jpg
data/bbdd/bbdd_00036.jpg
data/bbdd/bbdd_00037.jpg
data/bbdd/bbdd_00038.jpg
data/bbdd/bbdd_00039.jpg
data/bbdd/bbdd_00040.jpg
data/bbdd/bbdd_00041.jpg
data/bbdd/bbdd_00042.jpg
data/bbdd/bbdd_00043.jpg
data/bbdd/bbdd_00044.jpg
data/bbdd/bbdd_00045.jpg
data/bbdd/bbdd_00046.jpg
data/bbdd/bbdd_00047.jpg
data/bbdd/bbdd_00048.jpg
data/bbdd/bbdd_00049.jpg
data/bbdd/bbdd_00050.jpg
data/bbdd/bbdd_00051.jpg
data/bbdd/bbdd_00052.jpg
data/bbdd/bbdd_00053.jpg
data/bbdd/bbdd_00054.jpg
data/bbdd/bbdd_00055.jpg
data/bbdd/bbdd_00056.jpg
data/bbdd/bbdd_00057.jpg
data/bbdd/bbdd_00058.jpg
data/bbdd/bbdd_00059.jpg
data/bbdd/bbdd_00060.jpg
data/bbdd/bbdd_00061.jpg
data/bbdd/bbdd_00062.jpg
data/bbdd/bbdd_00063.jpg
data/bbdd/bbdd_00064.jpg
data/bbdd/bbdd_00065.jpg
data/bbdd/bbdd_00066.jpg
data/bbdd/bbdd_00067.jpg
data/bbdd/bbdd_00068.jpg
data/bbdd/bbdd_00069.jpg
data/bbdd/bbdd_00070.jpg
data/bbdd/bbdd_00071.jpg
data/bbdd/bbdd_00072.jpg
data/bbdd/bbdd_00073.jpg
data/bbdd/bbdd_00074.jpg
data/bbdd/bbdd_00075.jpg
data/bbdd/bbdd_00076.jpg
data/bbdd/bbdd_00077.jpg
data/bbdd/bbdd_00078.jpg
data/bbdd/bbdd_00079.jpg
data/bbdd/bbdd_00080.jpg
data/bbdd/bbdd_00081.jpg
data/bbdd/bbdd_00082.jpg
data/bbdd/bbdd_00083.jpg
data/bbdd/bbdd_00084.jpg
data/bbdd/bbdd_00085.jpg
data/bbdd/bbdd_00086.jpg
data/bbdd/bbdd_00087.jpg
data/bbdd/bbdd_00088.jpg
data/bbdd/bbdd_00089.jpg
data/bbdd/bbdd_00090.jpg
data/bbdd/bbdd_00091.jpg
data/bbdd/bbdd_00092.jpg
data/bbdd/bbdd_00093.jpg
data/bbdd/bbdd_00094.jpg
data/bbdd/bbdd_00095.jpg
data/bbdd/bbdd_00096.jpg
data/bbdd/bbdd_00097.jpg
data/bbdd/bbdd_00098.jpg
data/bbdd/bbdd_00099.jpg
data/bbdd/bbdd_00100.jpg
data/bbdd/bbdd_00101.jpg
data/bbdd/bbdd_00102.jpg
data/bbdd/bbdd_00103.jpg
data/bbdd/bbdd_00104.jpg
data/bbdd/bbdd_00105.jpg
data/bbdd/bbdd_00106.jpg
data/bbdd/bbdd_00107.jpg
data/bbdd/bbdd_00108.jpg
data/bbdd/bbdd_00109.jpg
data/bbdd/bbdd_00110.jpg
data/bbdd/bbdd_00111.jpg
data/bbdd/bbdd_00112.jpg
data/bbdd/bbdd_00113.jpg
data/bbdd/bbdd_00114.jpg
data/bbdd/bbdd_00115.jpg
data/bbdd/bbdd_00116.jpg
data/bbdd/bbdd_00117.jpg
data/bbdd/bbdd_00118.jpg
data/bbdd/bbdd_00119.jpg
data/bbdd/bbdd_00120.jpg
data/bbdd/bbdd_00121.jpg
data/bbdd/bbdd_00122.jpg
data/bbdd/bbdd_00123.jpg
data/bbdd/bbdd_00124.jpg
data/bbdd/bbdd_00125.jpg
data/bbdd/bbdd_00126.jpg
data/bbdd/bbdd_00127.jpg
data/bbdd/bbdd_00128.jpg
data/bbdd/bbdd_00129.jpg
data/bbdd/bbdd_00130.jpg
data/bbdd/bbdd_00131.jpg
data/bbdd/bbdd_00132.jpg
data/bbdd/bbdd_00133.jpg
data/bbdd/bbdd_00134.jpg
data/bbdd/bbdd_00135.jpg
data/bbdd/bbdd_00136.jpg
data/bbdd/bbdd_00137.jpg
data/bbdd/bbdd_00138.jpg
data/bbdd/bbdd_00139.jpg
data/bbdd/bbdd_00140.jpg
data/bbdd/bbdd_00141.jpg
data/bbdd/bbdd_00142.jpg
data/bbdd/bbdd_00143.jpg
data/bbdd/bbdd_00144.jpg
data/bbdd/bbdd_00145.jpg
data/bbdd/bbdd_00146.jpg
data/bbdd/bbdd_00147.jpg
data/bbdd/bbdd_00148.jpg
data/bbdd/bbdd_00149.jpg
data/bbdd/bbdd_00150.jpg
data/bbdd/bbdd_00151.jpg
data/bbdd/bbdd_00152.jpg
data/bbdd/bbdd_00153.jpg
data/bbdd/bbdd_00154.jpg
data/bbdd/bbdd_00155.jpg
data/bbdd/bbdd_00156.jpg
data/bbdd/bbdd_00157.jpg
data/bbdd/bbdd_00158.jpg
data/bbdd/bbdd_00159.jpg
data/bbdd/bbdd_00160.jpg
data/bbdd/bbdd_00161.jpg
data/bbdd/bbdd_00162.jpg
data/bbdd/bbdd_00163.jpg
data/bbdd/bbdd_00164.jpg
data/bbdd/bbdd_00165.jpg
data/bbdd/bbdd_00166.jpg
data/bbdd/bbdd_00167.jpg
data/bbdd/bbdd_00168.jpg
data/bbdd/bbdd_00169.jpg
data/bbdd/bbdd_00170.jpg
data/bbdd/bbdd_00171.jpg
data/bbdd/bbdd_00172.jpg
data/bbdd/bbdd_00173.jpg
data/bbdd/bbdd_00174.jpg
data/bbdd/bbdd_00175.jpg
data/bbdd/bbdd_00176.jpg
data/bbdd/bbdd_00177.jpg
data/bbdd/bbdd_00178.jpg
data/bbdd/bbdd_00179.jpg
data/bbdd/bbdd_00180.jpg
data/bbdd/bbdd_00181.jpg
data/bbdd/bbdd_00182.jpg
data/bbdd/bbdd_00183.jpg
data/bbdd/bbdd_00184.jpg
data/bbdd/bbdd_00185.jpg
data/bbdd/bbdd_00186.jpg
data/bbdd/bbdd_00187.jpg
data/bbdd/bbdd_00188.jpg
data/bbdd/bbdd_00189.jpg
data/bbdd/bbdd_00190.jpg
data/bbdd/bbdd_00191.jpg
data/bbdd/bbdd_00192.jpg
data/bbdd/bbdd_00193.jpg
data/bbdd/bbdd_00194.jpg
data/bbdd/bbdd_00195.jpg
data/bbdd/bbdd_00196.jpg
data/bbdd/bbdd_00197.jpg
data/bbdd/bbdd_00198.jpg
data/bbdd/bbdd_00199.jpg
data/bbdd/bbdd_00200.jpg
data/bbdd/bbdd_00201.jpg
data/bbdd/bbdd_00202.jpg
data/bbdd/bbdd_00203.jpg
data/bbdd/bbdd_00204.jpg
data/bbdd/bbdd_00205.jpg
data/bbdd/bbdd_00206.jpg
data/bbdd/bbdd_00207.jpg
data/bbdd/bbdd_00208.jpg
data/bbdd/bbdd_00209.jpg
data/bbdd/bbdd_00210.jpg
data/bbdd/bbdd_00211.jpg
data/bbdd/bbdd_00212.jpg
data/bbdd/bbdd_00213.jpg
data/bbdd/bbdd_00214.jpg
data/bbdd/bbdd_00215.jpg
data/bbdd/bbdd_00216.jpg
data/bbdd/bbdd_00217.jpg
data/bbdd/bbdd_00218.jpg
data/bbdd/bbdd_00219.jpg
data/bbdd/bbdd_00220.jpg
data/bbdd/bbdd_00221.jpg
data/bbdd/bbdd_00222.jpg
data/bbdd/bbdd_00223.jpg
data/bbdd/bbdd_00224.jpg
data/bbdd/bbdd_00225.jpg
data/bbdd/bbdd_00226.jpg
data/bbdd/bbdd_00227.jpg
data/bbdd/bbdd_00228.jpg
data/bbdd/bbdd_00229.jpg
data/bbdd/bbdd_00230.jpg
data/bbdd/bbdd_00231.jpg
data/bbdd/bbdd_00232.jpg
data/bbdd/bbdd_00233.jpg
data/bbdd/bbdd_00234.jpg
data/bbdd/bbdd_00235.jpg
data/bbdd/bbdd_00236.jpg
data/bbdd/bbdd_00237.jpg
data/bbdd/bbdd_00238.jpg
data/bbdd/bbdd_00239.jpg
data/bbdd/bbdd_00240.jpg
data/bbdd/bbdd_00241.jpg
data/bbdd/bbdd_00242.jpg
data/bbdd/bbdd_00243.jpg
data/bbdd/bbdd_00244.jpg
data/bbdd/bbdd_00245.jpg
data/bbdd/bbdd_00246.jpg
data/bbdd/bbdd_00247.jpg
data/bbdd/bbdd_00248.jpg
data/bbdd/bbdd_00249.jpg
data/bbdd/bbdd_00250.jpg
data/bbdd/bbdd_00251.jpg
data/bbdd/bbdd_00252.jpg
data/bbdd/bbdd_00253.jpg
data/bbdd/bbdd_00254.jpg
data/bbdd/bbdd_00255.jpg
data/bbdd/bbdd_00256.jpg
data/bbdd/bbdd_00257.jpg
data/bbdd/bbdd_00258.jpg
data/bbdd/bbdd_00259.jpg
data/bbdd/bbdd_00260.jpg
data/bbdd/bbdd_00261.jpg
data/bbdd/bbdd_00262.jpg
data/bbdd/bbdd_00263.jpg
data/bbdd/bbdd_00264.jpg
data/bbdd/bbdd_00265.jpg
data/bbdd/bbdd_00266.jpg
data/bbdd/bbdd_00267.jpg
data/bbdd/bbdd_00268.jpg
data/bbdd/bbdd_00269.jpg
data/bbdd/bbdd_00270.jpg
data/bbdd/bbdd_00271.jpg
data/bbdd/bbdd_00272.jpg
data/bbdd/bbdd_00273.jpg
data/bbdd/bbdd_00274.jpg
data/bbdd/bbdd_00275.jpg
data/bbdd/bbdd_00276.jpg
data/bbdd/bbdd_00277.jpg
data/bbdd/bbdd_00278.jpg
data/qsd1_w1/00000.jpg
data/qsd1_w1/00001.jpg
data/qsd1_w1/00002.jpg
data/qsd1_w1/00003.jpg
data/qsd1_w1/00004.jpg
data/qsd1_w1/00005.jpg
data/qsd1_w1/00006.jpg
data/qsd1_w1/00007.jpg
data/qsd1_w1/00008.jpg
data/qsd1_w1/00009.jpg
data/qsd1_w1/00010.jpg
data/qsd1_w1/00011.jpg
data/qsd1_w1/00012.jpg
data/qsd1_w1/00013.jpg
data/qsd1_w1/00014.jpg
data/qsd1_w1/00015.jpg
data/qsd1_w1/00016.jpg
data/qsd1_w1/00017.jpg
data/qsd1_w1/00018.jpg
data/qsd1_w1/00019.jpg
data/qsd1_w1/00020.jpg
data/qsd1_w1/00021.jpg
data/qsd1_w1/00022.jpg
data/qsd1_w1/00023.jpg
data/qsd1_w1/00024.jpg
data/qsd1_w1/00025.jpg
data/qsd1_w1/00026.jpg
data/qsd1_w1/00027.jpg
data/qsd1_w1/00028.jpg
data/qsd1_w1/00029.jpg
data/qsd1_w1/gt_corresps.pkl
data/qsd1_w1/gt_corresps.txt
data/qsd1_w2/00000.jpg
data/qsd1_w2/00000.png
data/qsd1_w2/00000.txt
data/qsd1_w2/00001.jpg
data/qsd1_w2/00001.png
data/qsd1_w2/00001.txt
data/qsd1_w2/00002.jpg
data/qsd1_w2/00002.png
data/qsd1_w2/00002.txt
data/qsd1_w2/00003.jpg
data/qsd1_w2/00003.png
data/qsd1_w2/00003.txt
data/qsd1_w2/00004.jpg
data/qsd1_w2/00004.png
data/qsd1_w2/00004.txt
data/qsd1_w2/00005.jpg
data/qsd1_w2/00005.png
data/qsd1_w2/00005.txt
data/qsd1_w2/00006.jpg
data/qsd1_w2/00006.png
data/qsd1_w2/00006.txt
data/qsd1_w2/00007.jpg
data/qsd1_w2/00007.png
data/qsd1_w2/00007.txt
data/qsd1_w2/00008.jpg
data/qsd1_w2/00008.png
data/qsd1_w2/00008.txt
data/qsd1_w2/00009.jpg
data/qsd1_w2/00009.png
data/qsd1_w2/00009.txt
data/qsd1_w2/00010.jpg
data/qsd1_w2/00010.png
data/qsd1_w2/00010.txt
data/qsd1_w2/00011.jpg
data/qsd1_w2/00011.png
data/qsd1_w2/00011.txt
data/qsd1_w2/00012.jpg
data/qsd1_w2/00012.png
data/qsd1_w2/00012.txt
data/qsd1_w2/00013.jpg
data/qsd1_w2/00013.png
data/qsd1_w2/00013.txt
data/qsd1_w2/00014.jpg
data/qsd1_w2/00014.png
data/qsd1_w2/00014.txt
data/qsd1_w2/00015.jpg
data/qsd1_w2/00015.png
data/qsd1_w2/00015.txt
data/qsd1_w2/00016.jpg
data/qsd1_w2/00016.png
data/qsd1_w2/00016.txt
data/qsd1_w2/00017.jpg
data/qsd1_w2/00017.png
data/qsd1_w2/00017.txt
data/qsd1_w2/00018.jpg
data/qsd1_w2/00018.png
data/qsd1_w2/00018.txt
data/qsd1_w2/00019.jpg
data/qsd1_w2/00019.png
data/qsd1_w2/00019.txt
data/qsd1_w2/00020.jpg
data/qsd1_w2/00020.png
data/qsd1_w2/00020.txt
data/qsd1_w2/00021.jpg
data/qsd1_w2/00021.png
data/qsd1_w2/00021.txt
data/qsd1_w2/00022.jpg
data/qsd1_w2/00022.png
data/qsd1_w2/00022.txt
data/qsd1_w2/00023.jpg
data/qsd1_w2/00023.png
data/qsd1_w2/00023.txt
data/qsd1_w2/00024.jpg
data/qsd1_w2/00024.png
data/qsd1_w2/00024.txt
data/qsd1_w2/00025.jpg
data/qsd1_w2/00025.png
data/qsd1_w2/00025.txt
data/qsd1_w2/00026.jpg
data/qsd1_w2/00026.png
data/qsd1_w2/00026.txt
data/qsd1_w2/00027.jpg
data/qsd1_w2/00027.png
data/qsd1_w2/00027.txt
data/qsd1_w2/00028.jpg
data/qsd1_w2/00028.png
data/qsd1_w2/00028.txt
data/qsd1_w2/00029.jpg
data/qsd1_w2/00029.png
data/qsd1_w2/00029.txt
data/qsd1_w2/gt_corresps.pkl
data/qsd1_w2/text_boxes.pkl
data/qsd2_w1/00000.jpg
data/qsd2_w1/00000.png
data/qsd2_w1/00001.jpg
data/qsd2_w1/00001.png
data/qsd2_w1/00002.jpg
data/qsd2_w1/00002.png
data/qsd2_w1/00003.jpg
data/qsd2_w1/00003.png
data/qsd2_w1/00004.jpg
data/qsd2_w1/00004.png
data/qsd2_w1/00005.jpg
data/qsd2_w1/00005.png
data/qsd2_w1/00006.jpg
data/qsd2_w1/00006.png
data/qsd2_w1/00007.jpg
data/qsd2_w1/00007.png
data/qsd2_w1/00008.jpg
data/qsd2_w1/00008.png
data/qsd2_w1/00009.jpg
data/qsd2_w1/00009.png
data/qsd2_w1/00010.jpg
data/qsd2_w1/00010.png
data/qsd2_w1/00011.jpg
data/qsd2_w1/00011.png
data/qsd2_w1/00012.jpg
data/qsd2_w1/00012.png
data/qsd2_w1/00013.jpg
data/qsd2_w1/00013.png
data/qsd2_w1/00014.jpg
data/qsd2_w1/00014.png
data/qsd2_w1/00015.jpg
data/qsd2_w1/00015.png
data/qsd2_w1/00016.jpg
data/qsd2_w1/00016.png
data/qsd2_w1/00017.jpg
data/qsd2_w1/00017.png
data/qsd2_w1/00018.jpg
data/qsd2_w1/00018.png
data/qsd2_w1/00019.jpg
data/qsd2_w1/00019.png
data/qsd2_w1/00020.jpg
data/qsd2_w1/00020.png
data/qsd2_w1/00021.jpg
data/qsd2_w1/00021.png
data/qsd2_w1/00022.jpg
data/qsd2_w1/00022.png
data/qsd2_w1/00023.jpg
data/qsd2_w1/00023.png
data/qsd2_w1/00024.jpg
data/qsd2_w1/00024.png
data/qsd2_w1/00025.jpg
data/qsd2_w1/00025.png
data/qsd2_w1/00026.jpg
data/qsd2_w1/00026.png
data/qsd2_w1/00027.jpg
data/qsd2_w1/00027.png
data/qsd2_w1/00028.jpg
data/qsd2_w1/00028.png
data/qsd2_w1/00029.jpg
data/qsd2_w1/00029.png
data/qsd2_w1/gt_corresps.pkl
data/qsd2_w1/gt_corresps.txt
data/qsd2_w2/00000.jpg
data/qsd2_w2/00000.png
data/qsd2_w2/00000.txt
data/qsd2_w2/00001.jpg
data/qsd2_w2/00001.png
data/qsd2_w2/00001.txt
data/qsd2_w2/00002.jpg
data/qsd2_w2/00002.png
data/qsd2_w2/00002.txt
data/qsd2_w2/00003.jpg
data/qsd2_w2/00003.png
data/qsd2_w2/00003.txt
data/qsd2_w2/00004.jpg
data/qsd2_w2/00004.png
data/qsd2_w2/00004.txt
data/qsd2_w2/00005.jpg
data/qsd2_w2/00005.png
data/qsd2_w2/00005.txt
data/qsd2_w2/00006.jpg
data/qsd2_w2/00006.png
data/qsd2_w2/00006.txt
data/qsd2_w2/00007.jpg
data/qsd2_w2/00007.png
data/qsd2_w2/00007.txt
data/qsd2_w2/00008.jpg
data/qsd2_w2/00008.png
data/qsd2_w2/00008.txt
data/qsd2_w2/00009.jpg
data/qsd2_w2/00009.png
data/qsd2_w2/00009.txt
data/qsd2_w2/00010.jpg
data/qsd2_w2/00010.png
data/qsd2_w2/00010.txt
data/qsd2_w2/00011.jpg
data/qsd2_w2/00011.png
data/qsd2_w2/00011.txt
data/qsd2_w2/00012.jpg
data/qsd2_w2/00012.png
data/qsd2_w2/00012.txt
data/qsd2_w2/00013.jpg
data/qsd2_w2/00013.png
data/qsd2_w2/00013.txt
data/qsd2_w2/00014.jpg
data/qsd2_w2/00014.png
data/qsd2_w2/00014.txt
data/qsd2_w2/00015.jpg
data/qsd2_w2/00015.png
data/qsd2_w2/00015.txt
data/qsd2_w2/00016.jpg
data/qsd2_w2/00016.png
data/qsd2_w2/00016.txt
data/qsd2_w2/00017.jpg
data/qsd2_w2/00017.png
data/qsd2_w2/00017.txt
data/qsd2_w2/00018.jpg
data/qsd2_w2/00018.png
data/qsd2_w2/00018.txt
data/qsd2_w2/00019.jpg
data/qsd2_w2/00019.png
data/qsd2_w2/00019.txt
data/qsd2_w2/00020.jpg
data/qsd2_w2/00020.png
data/qsd2_w2/00020.txt
data/qsd2_w2/00021.jpg
data/qsd2_w2/00021.png
data/qsd2_w2/00021.txt
data/qsd2_w2/00022.jpg
data/qsd2_w2/00022.png
data/qsd2_w2/00022.txt
data/qsd2_w2/00023.jpg
data/qsd2_w2/00023.png
data/qsd2_w2/00023.txt
data/qsd2_w2/00024.jpg
data/qsd2_w2/00024.png
data/qsd2_w2/00024.txt
data/qsd2_w2/00025.jpg
data/qsd2_w2/00025.png
data/qsd2_w2/00025.txt
data/qsd2_w2/00026.jpg
data/qsd2_w2/00026.png
data/qsd2_w2/00026.txt
data/qsd2_w2/00027.jpg
data/qsd2_w2/00027.png
data/qsd2_w2/00027.txt
data/qsd2_w2/00028.jpg
data/qsd2_w2/00028.png
data/qsd2_w2/00028.txt
data/qsd2_w2/00029.jpg
data/qsd2_w2/00029.png
data/qsd2_w2/00029.txt
data/qsd2_w2/gt_corresps.pkl
data/qsd2_w2/text_boxes.pkl
result/test_results.zip
result/test_results/qst1_w2/result.pkl
result/test_results/qst1_w2/text_boxes.pkl
result/test_results/qst2_w2/00000.png
result/test_results/qst2_w2/00001.png
result/test_results/qst2_w2/00002.png
result/test_results/qst2_w2/00003.png
result/test_results/qst2_w2/00004.png
result/test_results/qst2_w2/00005.png
result/test_results/qst2_w2/00006.png
result/test_results/qst2_w2/00007.png
result/test_results/qst2_w2/00008.png
result/test_results/qst2_w2/00009.png
result/test_results/qst2_w2/00010.png
result/test_results/qst2_w2/00011.png
result/test_results/qst2_w2/00012.png
result/test_results/qst2_w2/00013.png
result/test_results/qst2_w2/00014.png
result/test_results/qst2_w2/00015.png
result/test_results/qst2_w2/00016.png
result/test_results/qst2_w2/00017.png
result/test_results/qst2_w2/00018.png
result/test_results/qst2_w2/00019.png
result/test_results/qst2_w2/00020.png
result/test_results/qst2_w2/00021.png
result/test_results/qst2_w2/00022.png
result/test_results/qst2_w2/00023.png
result/test_results/qst2_w2/00024.png
result/test_results/qst2_w2/00025.png
result/test_results/qst2_w2/00026.png
result/test_results/qst2_w2/00027.png
result/test_results/qst2_w2/00028.png
result/test_results/qst2_w2/00029.png
result/test_results/qst2_w2/result.pkl
result/test_results/qst2_w2/text_boxes.pkl
*.txt
*.jpg
*.png
*.pkl
